@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #3a3a3a;
  background-color: #ffffff;
}
body.hidden {
  overflow: hidden;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: #3a3a3a;
}
@media (max-width: 992px) {
  h2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 164%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h3 {
    font-size: 18px;
    line-height: 133%;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 22px 77px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #724f1a;
  text-shadow: 2px 2px 0 0 #fdf3be;
  border: 1px solid #ffcb4e;
  border-radius: 70px;
  box-shadow: inset 0 0 18px 0 #ffecbc, 0 0 25px 0 rgba(246, 202, 97, 0.5);
  background: linear-gradient(180deg, #ffdf8e 0%, #ffe588 47.4%, #ffcb4e 50.52%, #ffbe18 100%);
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 768px) {
  .button {
    padding: 22px 46px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .button {
    width: 100%;
  }
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(1);
}

.logo {
  width: -moz-fit-content;
  width: fit-content;
}
.logo__link {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 105px;
}
.logo__link::before {
  content: "";
  display: block;
  height: 45px;
  margin-bottom: 48px;
  aspect-ratio: 1/0.18367;
  background: url(../assets/logo-text.svg) center no-repeat;
  background-size: contain;
}
.logo__link::after {
  content: "";
  display: block;
  height: 93px;
  aspect-ratio: 1/1.38806;
  background: url(../assets/logo-icon.svg) center no-repeat;
  background-size: contain;
}
.logo__description {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: inline-block;
  padding: 8px 14px 7px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3a3a3a;
  border-radius: 48px;
  background-color: #f6ca61;
}

.container {
  max-width: 1198px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.accordeon {
  border: 1px solid #e9ecfa;
  border-radius: 15px;
  overflow: hidden;
}
.accordeon__toggler {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.accordeon__toggler::after {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/plus.svg) center no-repeat;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
}
@media (max-width: 768px) {
  .accordeon__toggler::after {
    width: 20px;
    height: 20px;
  }
}
.accordeon.active .accordeon__toggler::after {
  transform: rotate(45deg);
}
.accordeon__panel {
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height ease-in-out 0.2s;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 22px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
    border-bottom: 1px solid #3a3a3a;
  }
}
.header .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .header .container {
    align-items: center;
    justify-content: space-between;
  }
}
.header .logo {
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .header .logo {
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .header .logo__link {
    align-items: flex-start;
    height: auto;
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .header .logo__link::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .logo__link::before {
    height: 18px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header .logo__description {
    position: static;
    padding: 4px 6px 3px;
    font-size: 7px;
    line-height: normal;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  flex-wrap: wrap;
  gap: 8px 20px;
  padding-top: 15px;
  border-top: 1px solid #3a3a3a;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
    border: none;
    align-items: flex-start;
  }
}
.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
}
@media (max-width: 1200px) {
  .header__nav-link {
    font-size: 14px;
  }
}
.header__nav-close {
  display: none;
}
.header__burger {
  display: none;
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  background: url(../assets/icons/burger.svg) center no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.main {
  padding-top: 205px;
  background: url(../assets/main-bg.svg) center top no-repeat;
}
@media (max-width: 1200px) {
  .main {
    padding-top: 240px;
  }
}
@media (max-width: 768px) {
  .main {
    padding-top: 80px;
  }
}

.footer {
  padding: 17px 0;
  border-top: 1px solid #3a3a3a;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    font-size: 13px;
    line-height: 154%;
  }
}
.footer__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #3a3a3a;
}

.first-screen {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .first-screen {
    padding-bottom: 60px;
  }
}
.first-screen .container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .first-screen .container {
    flex-direction: column;
  }
}
.first-screen__info {
  max-width: 670px;
}
.first-screen__logo {
  margin: 0 0 20px;
}
@media (max-width: 768px) {
  .first-screen__logo-image {
    max-width: 103px;
  }
}
.first-screen__title {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .first-screen__title {
    font-size: 26px;
    line-height: 115%;
  }
}
.first-screen__subtitle {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
@media (max-width: 768px) {
  .first-screen__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 115%;
  }
}
.first-screen__description {
  max-width: 570px;
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
}
@media (max-width: 768px) {
  .first-screen__description {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 768px) {
  .first-screen__buttons {
    font-size: 16px;
    line-height: 150%;
  }
}
.first-screen__figure {
  flex: 0 0 360px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 1200px) {
  .first-screen__figure {
    flex: 0 0 320px;
  }
}
@media (max-width: 992px) {
  .first-screen__figure {
    flex: 0 0 280px;
  }
}
@media (max-width: 768px) {
  .first-screen__figure {
    flex: 0 0 360px;
    justify-content: flex-start;
  }
}
@media (max-width: 400px) {
  .first-screen__figure {
    flex: 0 0 360px;
    justify-content: center;
  }
}
.first-screen__figure-image {
  display: block;
  max-width: 360px;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1.25;
  -o-object-fit: cover;
     object-fit: cover;
  background: #d9d9d9;
}

.how-get-job {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .how-get-job {
    padding-bottom: 86px;
  }
}
.how-get-job__title {
  margin: 0 0 10px;
}
.how-get-job__description {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}
@media (max-width: 768px) {
  .how-get-job__description {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 150%;
  }
}
.how-get-job__steps {
  margin: 0 0 60px;
}
@media (max-width: 768px) {
  .how-get-job__steps {
    margin: 0 0 40px;
  }
}
.how-get-job__step {
  position: relative;
  max-width: 50%;
  margin: 0 0 8px;
  padding-top: 18px;
  padding-right: 107px;
  padding-bottom: 35px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .how-get-job__step {
    padding-right: 80px;
  }
}
@media (max-width: 992px) {
  .how-get-job__step {
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  .how-get-job__step {
    max-width: none;
    padding: 0;
    margin: 0 0 20px;
  }
}
.how-get-job__step:nth-child(even) {
  margin-left: auto;
  padding-left: 107px;
}
@media (max-width: 1200px) {
  .how-get-job__step:nth-child(even) {
    padding-left: 80px;
  }
}
@media (max-width: 992px) {
  .how-get-job__step:nth-child(even) {
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .how-get-job__step:nth-child(even) {
    max-width: none;
    padding: 0;
    margin: 0 0 20px;
  }
}
.how-get-job__step:last-child::before, .how-get-job__step:last-child::after {
  display: none;
}
.how-get-job__step::before, .how-get-job__step::after {
  content: "";
  position: absolute;
  display: inline-block;
}
@media (max-width: 768px) {
  .how-get-job__step::before, .how-get-job__step::after {
    display: none;
  }
}
.how-get-job__step::before {
  bottom: 0;
  right: 0;
  width: 9px;
  height: 6px;
  background: url(../assets/icons/arrow-bottom.svg) center no-repeat;
  transform: translateX(4px);
}
.how-get-job__step:nth-child(even)::before {
  right: auto;
  left: 0;
  transform: translateX(-4px);
}
.how-get-job__step::after {
  top: 88px;
  bottom: 0;
  right: 0;
  border-left: 1px dashed #3a3a3a;
}
.how-get-job__step:nth-child(even)::after {
  right: auto;
  left: 0;
}
.how-get-job__step-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #f6ca61;
  transform: translateX(50%);
}
@media (max-width: 768px) {
  .how-get-job__step-icon {
    position: relative;
    margin: 0 auto 20px;
    transform: none;
    width: 80px;
  }
}
.how-get-job__step-icon-image {
  max-width: 30px;
}
.how-get-job__step-icon-id {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #fff;
  border: 3px solid #ffffff;
  border-radius: 24px;
  background-color: #3a3a3a;
}
.how-get-job__step:nth-child(even) .how-get-job__step-icon {
  left: 0;
  right: auto;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .how-get-job__step:nth-child(even) .how-get-job__step-icon {
    position: relative;
    margin: 0 auto 20px;
    transform: none;
    width: 80px;
  }
}
.how-get-job__step-title {
  margin: 0 0 10px;
  text-align: right;
}
@media (max-width: 768px) {
  .how-get-job__step-title {
    text-align: left;
  }
}
.how-get-job__step:nth-child(even) .how-get-job__step-title {
  text-align: left;
}
.how-get-job__step-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: right;
}
@media (max-width: 768px) {
  .how-get-job__step-description {
    text-align: left;
    font-size: 16px;
    line-height: 150%;
  }
}
.how-get-job__step:nth-child(even) .how-get-job__step-description {
  text-align: left;
}
.how-get-job__buttons {
  display: flex;
  justify-content: center;
}

.deliver {
  padding: 80px 0;
  background: url(../assets/deliver-bg.svg) left 960px bottom no-repeat;
  background-color: #f8f9fe;
}
@media screen and (max-width: 1440px) {
  .deliver {
    background-position: left 480px bottom;
  }
}
@media (max-width: 1200px) {
  .deliver {
    background-position: right bottom;
  }
}
@media (max-width: 768px) {
  .deliver {
    padding: 40px 0;
  }
}
.deliver__title {
  margin: 0 0 10px;
}
.deliver__description {
  margin: 0 0 57px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}
@media (max-width: 768px) {
  .deliver__description {
    margin: 0 0 40px;
  }
}
.deliver__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .deliver__wrapper {
    flex-wrap: wrap;
  }
}
.deliver__info {
  max-width: 620px;
  padding-left: 50px;
}
@media (max-width: 992px) {
  .deliver__info {
    padding-left: 0;
  }
}
.deliver__info-item {
  position: relative;
  margin: 0 0 40px;
}
@media (max-width: 992px) {
  .deliver__info-item {
    margin: 0 0 20px;
  }
}
.deliver__info-item:last-child {
  margin: 0;
}
.deliver__info-item::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -50px;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #3a3a3a;
}
@media (max-width: 992px) {
  .deliver__info-item::before {
    display: none;
  }
}
.deliver__info-item-title {
  margin: 0 0 10px;
}
@media (max-width: 992px) {
  .deliver__info-item-title {
    font-size: 18px;
    line-height: 133%;
  }
}
.deliver__info-item-title span {
  background-color: #f6ca61;
}
.deliver__info-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
}
@media (max-width: 1200px) {
  .deliver__info-item-text {
    font-size: 16px;
    line-height: 150%;
  }
}
.deliver__gallery {
  flex: 0 0 450px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .deliver__gallery {
    flex: 0 0 360px;
  }
}
@media (max-width: 768px) {
  .deliver__gallery {
    flex: 1 1 100%;
  }
}
.deliver__gallery-figure {
  flex: 1 1 33%;
}
.deliver__gallery-figure:nth-child(even) {
  margin-top: 110px;
}
.deliver__gallery-figure-image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1.66667;
  background: #d9d9d9;
  -o-object-fit: cover;
     object-fit: cover;
}
.deliver__gallery-figure:nth-child(1) .deliver__gallery-figure-image {
  border-bottom-left-radius: 30px;
}
.deliver__gallery-figure:nth-child(2n) .deliver__gallery-figure-image {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.deliver__gallery-figure:nth-child(3n) .deliver__gallery-figure-image {
  border-bottom-right-radius: 30px;
}

.process {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .process {
    padding: 60px 0;
  }
}
.process__title {
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .process__title {
    margin: 0 0 20px;
  }
}
.process__text {
  margin: 18px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
}
@media (max-width: 768px) {
  .process__text {
    margin: 16px 0;
    font-size: 16px;
    line-height: 150%;
  }
}
.process__details {
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px dashed #3a3a3a;
  border-bottom: 1px dashed #3a3a3a;
}
.process__details-text {
  max-width: 768px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}
@media (max-width: 768px) {
  .process__details-text {
    font-size: 16px;
    line-height: 150%;
  }
}
.process__details-text > a {
  color: #fc3f1d;
}
.process__figure {
  margin: 60px 0;
}
@media (max-width: 768px) {
  .process__figure {
    margin: 20px 0;
  }
}
.process__figure-image {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.process__figure-caption {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
}
@media (max-width: 768px) {
  .process__figure-caption {
    font-size: 12px;
    line-height: 150%;
  }
}
.process__buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .process__buttons {
    margin-top: 40px;
  }
}

.overview__title {
  margin: 0 0 10px;
}
.overview__description {
  max-width: 768px;
  margin: 0 auto 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}
@media (max-width: 768px) {
  .overview__description {
    font-size: 16px;
    line-height: 150%;
  }
}
.overview__slider .swiper-wrapper {
  padding-bottom: 48px;
}
.overview__slider .swiper-button-next, .overview__slider .swiper-button-prev {
  top: calc(50% - 24px);
  width: 64px;
  height: 64px;
  background: url(../assets/icons/next.svg) center no-repeat;
  background-color: #f6ca61;
}
@media (max-width: 768px) {
  .overview__slider .swiper-button-next, .overview__slider .swiper-button-prev {
    display: none;
  }
}
.overview__slider .swiper-button-next::after, .overview__slider .swiper-button-prev::after {
  display: none;
}
.overview__slider .swiper-button-next {
  right: 0;
}
.overview__slider .swiper-button-prev {
  left: 0;
  transform: rotate(180deg);
}
.overview__slider .swiper-button-disabled {
  background-color: #aaaaaa;
}
.overview__slider .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.overview__slider .swiper-pagination-bullet {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 !important;
  opacity: 1;
  background-color: #3a3a3a;
}
.overview__slider .swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  background-color: #f6ca61;
}
.overview__slider-image {
  display: block;
  margin: 0 auto;
}

.faq {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .faq {
    padding: 60px 0;
  }
}
.faq__title {
  margin: 0 0 10px;
}
.faq__description {
  max-width: 768px;
  margin: 0 auto 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}
@media (max-width: 768px) {
  .faq__description {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 150%;
  }
}
.faq__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .faq__items {
    gap: 10px;
  }
}
.faq__accordeon.active {
  background-color: #f8f9fe;
  transition: background-color ease-in-out 0.1s;
  will-change: background-color;
}
.faq__accordeon a {
  color: #fc3f1d;
}
.faq__accordeon-toggler {
  display: flex;
  justify-content: start;
  gap: 40px;
  padding-right: 28px;
}
@media (max-width: 768px) {
  .faq__accordeon-toggler {
    gap: 12px;
    padding: 10px 15px;
  }
}
.faq__accordeon-toggler-id {
  flex: 0 0 80px;
  padding: 15px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 278%;
  text-align: center;
  color: #b3b8ce;
  background-color: #f8f9fe;
}
@media (max-width: 768px) {
  .faq__accordeon-toggler-id {
    display: none;
  }
}
.faq__accordeon-toggler-question {
  flex: 1 1 auto;
  color: #3a3a3a;
  font-weight: 700;
  font-size: 18px;
  line-height: 278%;
}
@media (max-width: 768px) {
  .faq__accordeon-toggler-question {
    font-size: 16px;
    line-height: 150%;
  }
}
.faq__accordeon-panel-text {
  padding: 15px 78px 56px 120px;
  color: #3a3a3a;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
}
@media (max-width: 768px) {
  .faq__accordeon-panel-text {
    padding: 4px 48px 10px 15px;
    font-size: 16px;
    line-height: 150%;
  }
}

.advantages__title {
  margin: 0 0 10px;
}
.advantages__text {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}
@media (max-width: 768px) {
  .advantages__text {
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 150%;
  }
}
.advantages__items {
  display: flex;
  gap: 30px 18px;
}
@media (max-width: 768px) {
  .advantages__items {
    flex-direction: column;
  }
}
.advantages__block {
  flex: 0 0 calc(50% - 9px);
}
.advantages__block-title {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
.advantages__block-title-circle {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #f6ca61;
}
.advantages__block-title-circle::before {
  content: "+";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  border-radius: 24px;
  background-color: #07ba64;
  border: 3px solid #ffffff;
  transform: translateX(-50%) translateY(-50%);
}
.advantages__block-title-text {
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .advantages__block-title-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
  }
}
.advantages__block_minus .advantages__block-title-circle::before {
  content: "-";
  background-color: #fc3f1d;
}
.advantages__block-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.advantages__block-list-item {
  padding: 10px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  border-bottom: 1px solid #07ba64;
}
@media (max-width: 768px) {
  .advantages__block-list-item {
    font-size: 16px;
    line-height: 150%;
  }
}
.advantages__block-list-item:first-child {
  padding-top: 0;
}
.advantages__block-list-item:last-child {
  padding-bottom: 0;
  border: none;
}
.advantages__block_minus .advantages__block-list-item {
  border-bottom: 1px solid #fc3f1d;
}
.advantages__block_minus .advantages__block-list-item:last-child {
  border: none;
}

.start-job {
  padding: 100px 0 60px;
}
@media (max-width: 768px) {
  .start-job {
    padding: 60px 0 40px;
  }
}
.start-job .container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .start-job .container {
    flex-direction: column;
  }
}
.start-job__info {
  flex: 0 1 570px;
  padding-top: 60px;
}
@media (max-width: 992px) {
  .start-job__info {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .start-job__info {
    flex: 0 1 auto;
  }
}
.start-job__title {
  margin: 0 0 10px;
  text-align: left;
}
@media (max-width: 768px) {
  .start-job__title {
    margin: 0 0 5px;
  }
}
.start-job__subtitle {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 768px) {
  .start-job__subtitle {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 150%;
  }
}
.start-job__text {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
}
@media (max-width: 768px) {
  .start-job__text {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 150%;
  }
}
.start-job__buttons {
  margin: 40px 0 0;
}
.start-job__figure {
  flex: 0 0 472px;
}
@media (max-width: 992px) {
  .start-job__figure {
    flex: 0 0 340px;
  }
}
@media (max-width: 768px) {
  .start-job__figure {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
  }
}
.start-job__figure-image {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1.16525;
  background-color: #d9d9d9;
}
@media (max-width: 768px) {
  .start-job__figure-image {
    max-width: 472px;
  }
}