@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #3a3a3a;
  background-color: #ffffff;
}
body.hidden {
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: #3a3a3a;
}
@media (max-width: 992px) {
  h2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  width: -moz-fit-content;
  width: fit-content;
}
.logo__link {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 105px;
}
.logo__link::before {
  content: "";
  display: block;
  height: 45px;
  margin-bottom: 48px;
  aspect-ratio: 1/0.18367;
  background: url(../assets/logo-text.svg) center no-repeat;
  background-size: contain;
}
.logo__link::after {
  content: "";
  display: block;
  height: 93px;
  aspect-ratio: 1/1.38806;
  background: url(../assets/logo-icon.svg) center no-repeat;
  background-size: contain;
}
.logo__description {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: inline-block;
  padding: 8px 14px 7px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #3a3a3a;
  border-radius: 48px;
  background-color: #f6ca61;
}

.container {
  max-width: 1198px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 22px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
    border-bottom: 1px solid #3a3a3a;
  }
}
.header .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .header .container {
    align-items: center;
    justify-content: space-between;
  }
}
.header .logo {
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .header .logo {
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .header .logo__link {
    align-items: flex-start;
    height: auto;
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .header .logo__link::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .logo__link::before {
    height: 18px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header .logo__description {
    position: static;
    padding: 4px 6px 3px;
    font-size: 7px;
    line-height: normal;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  flex-wrap: wrap;
  gap: 8px 20px;
  padding-top: 15px;
  border-top: 1px solid #3a3a3a;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
    border: none;
    align-items: flex-start;
  }
}
.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
}
@media (max-width: 1200px) {
  .header__nav-link {
    font-size: 14px;
  }
}
.header__nav-close {
  display: none;
}
.header__burger {
  display: none;
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  background: url(../assets/icons/burger.svg) center no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.main {
  padding-top: 205px;
  background: url(../assets/main-bg.svg) center top no-repeat;
}
@media (max-width: 1200px) {
  .main {
    padding-top: 240px;
  }
}
@media (max-width: 768px) {
  .main {
    padding-top: 80px;
  }
}

.first-screen {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .first-screen {
    padding-bottom: 60px;
  }
}
.first-screen .container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .first-screen .container {
    flex-direction: column;
  }
}
.first-screen__info {
  max-width: 670px;
}
.first-screen__logo {
  margin: 0 0 20px;
}
@media (max-width: 768px) {
  .first-screen__logo-image {
    max-width: 103px;
  }
}
.first-screen__title {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .first-screen__title {
    font-size: 26px;
    line-height: 115%;
  }
}
.first-screen__subtitle {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
@media (max-width: 768px) {
  .first-screen__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 115%;
  }
}
.first-screen__description {
  max-width: 570px;
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
}
@media (max-width: 768px) {
  .first-screen__description {
    font-size: 16px;
    line-height: 150%;
  }
}
.first-screen__figure {
  flex: 0 0 360px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 1200px) {
  .first-screen__figure {
    flex: 0 0 320px;
  }
}
@media (max-width: 992px) {
  .first-screen__figure {
    flex: 0 0 280px;
  }
}
@media (max-width: 768px) {
  .first-screen__figure {
    flex: 0 0 360px;
  }
}
.first-screen__figure-image {
  display: block;
  max-width: 360px;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1.25;
  -o-object-fit: cover;
     object-fit: cover;
  background: #d9d9d9;
}