@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: $black;
  background-color: $white;

  &.hidden {
    overflow: hidden;
  }
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @include laptop {
    font-size: 34px;
  }

  @include tablet {
    font-size: 30px;
  }
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 164%;
  text-transform: uppercase;

  @include tablet {
    font-size: 18px;
    line-height: 133%;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
