.advantages {
  &__title {
    margin: 0 0 10px;
  }

  &__text {
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    text-align: center;

    @include tablet {
      margin: 0 0 40px;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__items {
    display: flex;
    gap: 30px 18px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__block {
    flex: 0 0 calc(50% - 9px);

    &-title {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0 0 20px;

      &-circle {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        background-color: $yellow;

        &::before {
          content: '+';
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 50%;
          width: 24px;
          height: 24px;
          color: $white;
          font-weight: 400;
          font-size: 14px;
          line-height: 171%;
          border-radius: 24px;
          background-color: #07ba64;
          border: 3px solid $white;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      &-text {
        position: absolute;
        top: 26px;
        left: 50%;
        transform: translateX(-50%);

        @include tablet {
          font-weight: 700;
          font-size: 18px;
          line-height: 200%;
        }
      }
    }

    &_minus &-title {
      &-circle {
        &::before {
          content: '-';
          background-color: #fc3f1d;
        }
      }
    }

    &-list {
      padding: 0;
      margin: 0;
      list-style-type: none;

      &-item {
        padding: 10px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        text-align: center;
        border-bottom: 1px solid #07ba64;

        @include tablet {
          font-size: 16px;
          line-height: 150%;
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border: none;
        }
      }
    }

    &_minus &-list {
      &-item {
        border-bottom: 1px solid #fc3f1d;

        &:last-child {
          border: none;
        }
      }
    }
  }
}
