.contacts {
  padding-bottom: 100px;

  @include tablet {
    padding-bottom: 60px;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 670px;
  }

  &__title {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    text-transform: uppercase;

    @include tablet {
      margin: 0 0 20px;
      font-size: 26px;
      line-height: 115%;
    }
  }

  &__subtitle {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 164%;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 200%;
    }
  }

  &__description {
    max-width: 570px;
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;

    @include tablet {
      margin: 0 0 20px;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 40px;

    &-link {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;

      &_whatsapp {
        background-image: url(../assets/icons/whatsapp.svg);
      }

      &_telegram {
        background-image: url(../assets/icons/telegram.svg);
      }

      &_viber {
        background-image: url(../assets/icons/viber.svg);
      }
    }
  }

  &__figure {
    flex: 0 0 360px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include desktop {
      flex: 0 0 320px;
    }

    @include laptop {
      flex: 0 0 280px;
    }

    @include tablet {
      flex: 0 0 360px;
      justify-content: flex-start;
    }

    @include mobilesm {
      flex: 0 0 360px;
      justify-content: center;
    }

    &-image {
      display: block;
      max-width: 360px;
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1.25;
      object-fit: cover;
      background: #d9d9d9;
    }
  }
}
