.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 22px 0;

  @include tablet {
    padding: 10px 0;
    border-bottom: 1px solid #3a3a3a;
  }

  &.active::before {
    @include tablet {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 499;
      background-color: rgba($color: $black, $alpha: 0.5);
    }
  }

  & .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include tablet {
      align-items: center;
      justify-content: space-between;
    }
  }

  & .logo {
    flex: 0 0 auto;

    @include tablet {
      display: flex;
      align-items: flex-start;
    }

    &__link {
      @include tablet {
        align-items: flex-start;
        height: auto;
        gap: 5px;
      }

      &::after {
        @include tablet {
          display: none;
        }
      }

      &::before {
        @include tablet {
          height: 18px;
          margin: 0;
        }
      }
    }

    &__description {
      @include tablet {
        position: static;
        padding: 4px 6px 3px;
        font-size: 7px;
        line-height: normal;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
    flex-wrap: wrap;
    gap: 8px 20px;
    padding-top: 15px;
    border-top: 1px solid #3a3a3a;

    @include tablet {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 500;
      padding: 35px 0 19px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0;
      border: none;
      background-color: rgba($color: $white, $alpha: 1);
      transform: translateY(-1500px);
      transition: transform ease-in-out 0.2s;
      will-change: transform;
    }

    &.active {
      @include tablet {
        transform: translateY(0);
      }
    }

    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $black;

      @include desktop {
        font-size: 14px;
      }

      @include tablet {
        display: flex;
        align-items: center;
        gap: 12px;
        max-width: 586px;
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        font-size: 16px;
        border-bottom: 1px solid #d7dbec;
      }

      &::before {
        
        @include tablet {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: #adb2c9;
        }
      }

      &.active {
        color: #fc3f1d;

        @include tablet {
          color: $black;
          font-weight: 600;
        }

        &::before {
          @include tablet {
            background-color: $yellow;
          }
        }
      }

      &:first-child {
        @include tablet {
          padding-top: 0;
        }
      }

      &:last-of-type {
        @include tablet {
          padding-bottom: 0;
          border: none;
        }
      }
    }

    &-close {
      display: none;

      @include tablet {
        position: absolute;
        top: 10px;
        left: calc(50% + 238px);
        display: block;
        height: 30px;
        width: 30px;
        padding: 0;
        border: none;
        background: url(../assets/icons/close.svg) center no-repeat;
        cursor: pointer;
      }

      @include mobile {
        left: auto;
        right: 20px;
      }
    }
  }

  &__burger {
    display: none;
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background: url(../assets/icons/burger.svg) center no-repeat;
    cursor: pointer;

    @include tablet {
      display: block;
    }
  }
}
